.Header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    
}

.Header nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 10vh;
}

.Header nav * {
    cursor: pointer;
}

.Header .active {
    color: green;
    background: rgb(234, 238, 250);
    border-radius: 2px;
}
